body {
    margin: 0;
    padding: 10px 15px;
    font-family: monospace;
}

section {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #000;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th:empty,
td:empty {
    border: none;
}

.cell-controls {
    border: none;
    opacity: 0;
}

.add-cell {
    cursor: pointer;
}

.move-cell {
    cursor: grab;
}

.move-cell:active {
    cursor: grabbing;
}

button {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}
