<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"
        integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
</head>
<body>
    <section class="table-section" hx-get="/table" hx-trigger="load" hx-target="this" hx-swap="beforeend">
        <div class="table-top-bar">
            <h2>Books</h2>
            <input class="seach" type="search" placeholder="Search" />
            <a href="{{ url_for('get_csv') }}"><button class="csv-btn"><i>⤓</i>CSV</button></a>
        </div>
    </section>
</body>
</html>
